@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Mukta:400,500,600,700&display=swap&subset=latin-ext");
*,
html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  height: 100%;
  color: #424243;
}

.link {
  font-size: 14px;
  display: block;
  text-decoration: none;
  color: #b84026;
}
.link:hover {
  text-decoration: underline;
}

.btn {
  font-weight: bold;
  line-height: 36px;
  display: block;
  padding: 0 25px;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  color: #f7edeb;
  border: none;
  background-color: #ca500d;
}
.btn:hover {
  background-color: #b84026;
}

.error-login {
  display: block;
  text-align: center;
  font-weight: bold;
}
.error-login .link {
  display: inline-block;
  font-size: inherit;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  background-color: #f2f1f0;
}
.wrapper header {
  flex: 0 0 auto;
  width: 100%;
  height: 150px;
  background: #ca500d;
}
.wrapper header .header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  margin: 0 10%;
  padding: 0 25px;
}
.wrapper header .header-container nav {
  display: flex;
}
.wrapper header .header-container nav a {
  display: block;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}
.wrapper header .header-container nav a:hover {
  background-color: #b84026;
}
.wrapper main {
  display: flex;
  flex: 1 0 auto;
  justify-content: space-between;
  margin: 0 10%;
  background: #ffffff;
}
.wrapper main .menu {
  width: 70%;
  padding: 30px 25px;
}
.wrapper main .menu .details {
  font-family: "Mukta", sans-serif;
}
.wrapper main .menu .details h2 {
  font-size: 22px;
  line-height: 24px;
  text-transform: uppercase;
}
.wrapper main .menu .details .link {
  text-decoration: underline;
}
.wrapper main .menu .details table {
  font-size: 13px;
  min-width: 500px;
  margin-top: 20px;
  table-layout: fixed;
  text-align: left;
}
.wrapper main .menu .details table th {
  font-weight: normal;
}
.wrapper main .menu .optional-message {
  font-size: 14px;
  font-weight: bold;
  margin-top: 15px;
  padding: 10px 0;
  border-top: 1px solid #b84026;
  border-bottom: 1px solid #b84026;
}
.wrapper main .menu .category-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.wrapper main .menu .category-group .category-switch {
  width: 150px;
}
.wrapper main .menu .category-group .category-switch a {
  font-size: 14px;
  line-height: 30px;
  width: 150px;
  margin: 2px 0;
  text-decoration: none;
  color: #424243;
  background-color: #e5e4e3;
}
.wrapper main .menu .category-group .category-switch a:first-child {
  margin-top: 0;
}
.wrapper main .menu .category-group .category-switch a:last-child {
  margin-bottom: 0;
}
.wrapper main .menu .category-group .category-switch a:hover {
  background-color: #f2f1f0;
}
.wrapper main .menu .category-group .category-switch a.active {
  color: #ffffff;
  background-color: #2e2d32;
}
.wrapper main .menu .category-group .category-menu {
  display: none;
  width: calc(100% - (150px + 10px));
}
.wrapper main .menu .category-group .category-menu.active {
  display: block;
}
.wrapper main .menu .category-group .category-menu h2 {
  font-size: 30px;
  font-weight: bold;
  line-height: 30px;
  width: 100%;
  height: 140px;
  padding: 95px 15px 15px 15px;
  text-align: left;
  text-transform: uppercase;
  color: #ffffff;
  background-image: url("../img/foods/foos_chicken.jpg");
  background-repeat: no-repeat;
  background-position: 0 25%;
  background-size: 130% auto;
}
.wrapper main .menu .category-group .category-menu .category-item {
  display: flex;
  justify-content: space-between;
  height: 200px;
  padding: 20px 15px;
}
.wrapper main .menu .category-group .category-menu .category-item .photo {
  position: relative;
  overflow: hidden;
  width: 50%;
  height: 100%;
  text-align: center;
}
.wrapper main .menu .category-group .category-menu .category-item .photo img {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  transform: translateY(-50%) translateX(-50%);
}
.wrapper main .menu .category-group .category-menu .category-item .description {
  width: 50%;
  padding: 0 15px;
}
.wrapper main .menu .category-group .category-menu .category-item .description h4 {
  font-size: 14px;
  font-weight: bold;
  color: #b84026;
}
.wrapper main .menu .category-group .category-menu .category-item .description .composition {
  font-size: 12px;
  line-height: 16px;
  padding: 5px 0;
}
.wrapper main .menu .category-group .category-menu .category-item .description .info {
  font-weight: 400;
  padding-top: 10px;
  color: #ca500d;
}
.wrapper main .menu .category-group .category-menu .category-item .description .info .calories {
  float: right;
}
.wrapper main .orders {
  width: 30%;
  padding-bottom: 25px;
  border-left: 1px solid #e5e4e3;
}
.wrapper main .orders .tab-group {
  width: 100%;
}
.wrapper main .orders .tab-group .tab-link {
  font-size: 16px;
  font-weight: bold;
  line-height: 34px;
  float: left;
  width: 50%;
  padding: 0 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  color: #424243;
  border: none;
  background-color: #e5e4e3;
}
.wrapper main .orders .tab-group .tab-link:hover {
  background-color: #f2f1f0;
}
.wrapper main .orders .tab-group .tab-link.active {
  background-color: #ffffff;
}
.wrapper main .orders .tab-group .tab-content {
  display: none;
  height: 100%;
  padding: calc(20px + 34px) 20px 20px;
}
.wrapper main .orders .tab-group .tab-content.active {
  display: block;
}
.wrapper main .orders .tab-group .tab-content .favourites {
  padding: 10px;
}
.wrapper main .orders .tab-group .tab-content h2 {
  text-transform: capitalize;
}
.wrapper main .orders .tab-group .tab-content .orders-list {
  width: 100%;
  margin: 15px 0 30px;
  table-layout: fixed;
  border-collapse: collapse;
  border-top: 1px solid #b84026;
}
.wrapper main .orders .tab-group .tab-content .orders-list tr:not(.order-item) .description {
  font-weight: bold;
  text-transform: uppercase;
  color: #b84026;
}
.wrapper main .orders .tab-group .tab-content .orders-list tr.order-item td {
  border-bottom: 1px solid #b84026;
}
.wrapper main .orders .tab-group .tab-content .orders-list tr td {
  padding: 8px 0;
}
.wrapper main .orders .tab-group .tab-content .orders-list tr td.description {
  width: 70%;
}
.wrapper main .orders .tab-group .tab-content .orders-list tr td.description .name {
  text-transform: capitalize;
}
.wrapper main .orders .tab-group .tab-content .orders-list tr td.price {
  font-weight: bold;
  width: 30%;
  text-align: right;
  vertical-align: top;
  color: #b84026;
}
.wrapper main .orders .tab-group .tab-content .orders-list .edit-buttons {
  font-size: 14px;
  font-weight: bold;
}
.wrapper main .orders .tab-group .tab-content .orders-list .edit-buttons a {
  text-decoration: none;
  color: #b84026;
}
.wrapper main .orders .tab-group .tab-content .order-options .form-group {
  padding-top: 15px;
}
.wrapper main .orders .tab-group .tab-content .order-options .form-group .title {
  font-weight: bold;
}
.wrapper main .orders .tab-group .tab-content .order-options .form-group label {
  display: block;
  width: max-content;
  padding-top: 5px;
  cursor: pointer;
}
.wrapper main .orders .tab-group .tab-content .order-options .btn {
  width: 100%;
  margin-top: 30px;
}
.wrapper footer {
  position: relative;
  flex: 0 0 auto;
  width: 100%;
  height: 20px;
  background: #b84026;
}
.wrapper footer .footer-container {
  position: absolute;
  right: 10%;
  bottom: 25px;
  left: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
}
.wrapper footer .footer-container address {
  font-size: 10px;
  font-style: normal;
  color: #ca500d;
}
.wrapper footer .footer-container address .link {
  font-size: 10px;
  display: inline-block;
}
.wrapper footer .footer-container nav {
  display: flex;
}
.wrapper footer .footer-container nav .link {
  font-size: 10px;
  padding: 0 5px;
  text-transform: capitalize;
  border-right: 1px solid #b84026;
}
.wrapper footer .footer-container nav .link:last-child {
  border-right: none;
}

/*# sourceMappingURL=main.css.map */
