@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap&subset=latin-ext");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  height: 100%;
  color: #424243;
}

a {
  font-size: inherit;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #b84026;
}
a:hover {
  text-decoration: underline;
}

button {
  font-weight: bold;
  display: block;
  padding: 12px 25px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #f7edeb;
  border: none;
  background-color: #ca500d;
}
button:hover {
  background-color: #b84026;
}
button.btn-bordered {
  padding: 10px 25px;
  color: #ca500d;
  border: 2px solid #ca500d;
  background-color: #f7edeb;
}
button.btn-bordered:hover {
  color: #f7edeb;
  background-color: #ca500d;
}

textarea {
  width: 100%;
  height: 90px;
  min-height: 50px;
  resize: vertical;
}

textarea,
input:not([type=checkbox]):not([type=radio]) {
  font-size: 14px;
  margin: 5px 0;
  padding: 6px 8px;
  border: 1px solid #bfbdc4;
}

.tab-group {
  width: 100%;
}
.tab-group .tab-switch {
  display: flex;
}
.tab-group .tab-switch a {
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  padding: 12px 5px;
  text-decoration: none;
  text-transform: capitalize;
  color: #424243;
  background-color: #e5e4e3;
}
.tab-group .tab-switch a:hover {
  background-color: #f2f1f0;
}
.tab-group .tab-switch a.active {
  background-color: #ffffff;
}
.tab-group .tab-content {
  display: none;
  padding: 20px;
}
.tab-group .tab-content.active {
  display: block;
}

.category-group {
  display: flex;
  justify-content: space-between;
}
.category-group .category-switch {
  display: flex;
  flex-direction: column;
  min-width: 150px;
}
.category-group .category-switch a {
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  width: 100%;
  margin-bottom: 2px;
  padding: 7px 5px;
  text-decoration: none;
  text-transform: uppercase;
  color: #424243;
  background-color: #e5e4e3;
}
.category-group .category-switch a:hover {
  background-color: #f2f1f0;
}
.category-group .category-switch a.active {
  color: #ffffff;
  background-color: #2e2d32;
}
.category-group .category-content {
  display: none;
  width: 100%;
  margin-left: 10px;
}
.category-group .category-content.active {
  display: block;
}
.category-group .category-content .category-header {
  font-size: 30px;
  font-weight: bold;
  line-height: 1;
  width: 100%;
  height: 140px;
  padding: 95px 15px 15px;
  text-align: left;
  text-transform: uppercase;
  color: #ffffff;
  background: url("../img/foods/foos_chicken.jpg") 0 25%/130% auto no-repeat;
}
.category-group .category-content .category-body {
  display: flex;
  flex-direction: column;
  min-width: 100%;
}

.card {
  display: flex;
  justify-content: space-between;
  height: 200px;
  padding: 15px 10px;
}
.card .card-photo {
  position: relative;
  overflow: hidden;
  width: 50%;
  height: 100%;
  margin: 5px;
  text-align: center;
}
.card .card-photo img {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  transform: translateY(-50%) translateX(-50%);
}
.card .card-container {
  font-size: inherit;
  width: 50%;
  margin: 5px;
}
.card .card-container .card-header {
  font-weight: bold;
  color: #b84026;
}
.card .card-container .card-body {
  padding: 5px 0;
}
.card .card-container .card-footer {
  padding-top: 10px;
  color: #ca500d;
}

.form-group.rtl {
  display: flex;
  justify-content: flex-end;
}
.form-group.rtl label {
  display: flex;
  align-items: center;
  padding: 0 5px 0;
}
.form-group .title {
  font-weight: bold;
}
.form-group small {
  padding: 3px 8px;
}
.form-group label {
  display: block;
  width: max-content;
  padding-top: 5px;
  cursor: pointer;
  text-transform: capitalize;
}
.form-group input[type=checkbox],
.form-group input[type=radio] {
  width: 18px;
  height: 18px;
  vertical-align: text-bottom;
}

.form-card {
  font-size: 18px;
  width: 100%;
  padding: 10px 15px;
  text-transform: capitalize;
  background-color: #e5e4e3;
}
.form-card .form-card-title {
  padding-bottom: 5px;
}
.form-card .form-card-board {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
}
.form-card .form-card-board .tile {
  position: relative;
}
.form-card .form-card-board .tile input[type=checkbox],
.form-card .form-card-board .tile input[type=radio] {
  line-height: inherit;
  position: absolute;
  top: calc(50% - (20px / 2));
  left: 10px;
  width: 20px;
  height: 20px;
}
.form-card .form-card-board .tile label {
  font-size: 14px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 0 10px 0 35px;
  cursor: pointer;
  color: #171719;
  background-color: #cfcdcb;
}
.form-card .form-card-board .tile input:checked ~ label {
  color: #f7edeb;
  background-color: #ca500d;
}

.two-column-list .row {
  display: flex;
  justify-content: space-between;
}
.two-column-list .row.bordered {
  border-bottom: 1px solid #b84026;
}

.mini-card .title {
  text-transform: capitalize;
}
.mini-card .edit-buttons {
  display: flex;
  justify-content: flex-start;
  margin-top: 3px;
}
.mini-card .edit-buttons button {
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  margin-right: 2px;
  padding: 2px 3px;
  text-transform: lowercase;
  color: #b84026;
  border: 1px solid #e5e4e3;
  background-color: #ffffff;
}
.mini-card .edit-buttons button:hover {
  background-color: #f7edeb;
}

.warning-block {
  font-size: inherit;
  font-weight: bold;
  display: block;
}
.warning-block a {
  display: inline-block;
}

.overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: none;
  overflow: auto;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(18, 6, 4, 0.75);
}
.overlay.active {
  display: flex;
}
.overlay .modal {
  position: relative;
  width: 40%;
  height: max-content;
  margin: 10px 0;
  background-color: #ffffff;
}
.overlay .modal .close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: transparent;
}
.overlay .modal .close:before, .overlay .modal .close:after {
  position: absolute;
  top: 0;
  left: 19px;
  width: 3px;
  height: 40px;
  content: "";
  background-color: #ffffff;
}
.overlay .modal .close:before {
  transform: rotate(45deg);
}
.overlay .modal .close:after {
  transform: rotate(-45deg);
}
.overlay .modal .close:hover:before, .overlay .modal .close:hover:after {
  background-color: #ca500d;
}
.overlay .modal .modal-header {
  font-weight: normal;
  padding: 10px 25px;
  text-transform: capitalize;
  color: #ffffff;
  background-color: #2e2d32;
}
.overlay .modal .modal-body {
  padding: 20px 25px;
}
.overlay .modal .modal-footer {
  padding: 15px 25px 25px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  background-color: #f2f1f0;
}
.wrapper header {
  flex: 0 0 auto;
  width: 100%;
  height: 150px;
  background: #ca500d;
}
.wrapper header .header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  margin: 0 10%;
  padding: 0 25px;
}
.wrapper header .header-content nav {
  display: flex;
}
.wrapper header .header-content nav a {
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}
.wrapper header .header-content nav a:hover {
  background-color: #b84026;
}
.wrapper main {
  display: flex;
  flex: 1 0 auto;
  justify-content: space-between;
  margin: 0 10%;
  background: #ffffff;
}
.wrapper main .main-content {
  width: 70%;
  padding: 30px 25px;
}
.wrapper main .main-content h2 {
  font-size: 22px;
  text-transform: uppercase;
}
.wrapper main .main-content table {
  font-size: 13px;
  min-width: 500px;
  margin-top: 20px;
  table-layout: fixed;
  text-align: left;
}
.wrapper main .main-content table th {
  font-weight: normal;
}
.wrapper main .main-content .warning-block {
  font-size: 14px;
  margin-top: 15px;
  padding: 10px 0;
  border-top: 1px solid #b84026;
  border-bottom: 1px solid #b84026;
}
.wrapper main .main-content .category-group {
  margin-top: 20px;
}
@media screen and (max-width: 1024px) {
  .wrapper main .main-content .category-group .card .card-photo {
    width: 40%;
    height: 75%;
  }
}
.wrapper main .main-content .category-group .card .card-container {
  width: 60%;
}
.wrapper main .main-content .category-group .card .card-container .card-body {
  font-size: 12px;
  line-height: 1.4;
}
.wrapper main .main-content .category-group .card .card-container .card-footer {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  .wrapper main .main-content .category-group .card .card-container .card-footer {
    flex-direction: column-reverse;
    justify-content: unset;
  }
}
.wrapper main .sidebar {
  width: 30%;
  padding-bottom: 25px;
  border-left: 1px solid #e5e4e3;
}
.wrapper main .sidebar .tab-group .warning-block {
  padding: 10px;
  text-align: center;
}
.wrapper main .sidebar .tab-group h2 {
  text-transform: capitalize;
}
.wrapper main .sidebar .tab-group .two-column-list {
  margin: 15px 0 30px;
  border-top: 1px solid #b84026;
}
.wrapper main .sidebar .tab-group .two-column-list .row > *:not(.mini-card) {
  font-weight: bold;
  text-transform: uppercase;
  color: #b84026;
}
.wrapper main .sidebar .tab-group .two-column-list .row > * {
  padding: 8px 0;
}
.wrapper main .sidebar .tab-group form .form-group {
  padding-top: 15px;
}
.wrapper main .sidebar .tab-group form button {
  width: 100%;
  margin-top: 30px;
}
.wrapper footer {
  position: relative;
  flex: 0 0 auto;
  width: 100%;
  height: 20px;
  background: #b84026;
}
.wrapper footer .footer-content {
  font-size: 11px;
  position: absolute;
  right: 10%;
  bottom: 25px;
  left: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
}
.wrapper footer .footer-content address {
  font-style: normal;
  color: #ca500d;
}
.wrapper footer .footer-content nav {
  display: flex;
}
.wrapper footer .footer-content nav a {
  padding: 0 5px;
  text-transform: capitalize;
  border-right: 1px solid #b84026;
}
.wrapper footer .footer-content nav a:last-child {
  border-right: none;
}

.overlay .big-modal {
  min-width: 750px;
}
.overlay .big-modal .modal-body .card {
  height: auto;
  padding: 0;
}
.overlay .big-modal .modal-body .card .card-container {
  font-size: 18px;
  padding: 0;
}
.overlay .big-modal .modal-body .card .card-container .card-header {
  font-size: 22px;
}
.overlay .big-modal .modal-body .card .card-container .card-body {
  padding: 15px 0;
}
.overlay .big-modal .modal-body .card .card-container .card-footer {
  font-weight: bold;
}
.overlay .big-modal .modal-body .form-card {
  margin: 15px 0;
}
.overlay .big-modal .modal-body .form-group.rtl label {
  font-size: 14px;
}
.overlay .big-modal .modal-body .form-group.rtl input {
  width: 50px;
}
.overlay .big-modal .modal-footer {
  display: flex;
  justify-content: flex-end;
}
.overlay .big-modal .modal-footer button {
  margin-left: 10px;
}
.overlay .small-modal {
  width: 30%;
  min-width: 550px;
}
.overlay .small-modal .modal-body .card {
  justify-content: center;
  padding-top: 0;
  padding-bottom: 0;
}
.overlay .small-modal .modal-body .card .card-photo {
  width: 60%;
}
.overlay .small-modal .modal-body .form-group {
  margin: 20px 0;
}
.overlay .small-modal .modal-body .form-group .title {
  font-size: 18px;
}
.overlay .small-modal .modal-body .form-group label {
  font-size: 14px;
  margin: 15px 0;
}
.overlay .small-modal .modal-body .form-group input {
  margin: 0 10px;
}
.overlay .small-modal .modal-body .form-group .two-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.overlay .small-modal .modal-body .form-group .two-group input[type=number] {
  width: 50px;
  padding: 3px 4px;
  border-width: 2px;
  border-radius: 5px;
}
.overlay .small-modal .modal-footer {
  display: flex;
  justify-content: flex-end;
}
.overlay .small-modal .modal-footer button {
  margin-left: 10px;
}

.card.custom {
  height: auto;
}
.card.custom button {
  width: 48%;
}

/*# sourceMappingURL=main.css.map */
