*,
html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: $open-sans-font;
    font-size: 16px;
    height: 100%;
    color: $secondary;
}

.link {
    font-size: 14px;
    display: block;
    text-decoration: none;
    color: $primary-dark;

    &:hover {
        text-decoration: underline;
    }
}

.btn {
    font-weight: bold;
    line-height: 36px;
    display: block;
    padding: 0 25px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    color: $primary-light;
    border: none;
    background-color: $primary;

    &:hover {
        background-color: $primary-dark;
    }
}

.error-login {
    display: block;
    text-align: center;
    font-weight: bold;

    .link {
        display: inline-block;
        font-size: inherit;
    }
}
