// Image variable
$category-header-bg: url('../img/foods/foos_chicken.jpg');

// Colors palette
$double-colonial-white: #ede0aa;
$tia-maria: #ca500d;
$tall-poppy: #b84026;
$white: #ffffff;
$desert-storm: #f2f1f0;
$mercury: #e5e4e3;
$vista-white: #f7edeb;
$quill-gray: #d7d6d4;
$dusty-gray: #959595;
$ship-gray: #424243;
$mine-shaft: #363636;
$dune: #362f2d;
$baltic-sea: #2e2d32;


// Colors variables
$primary-color: $tia-maria;
$primary-dark-color: $tall-poppy;
$secondary-color: $ship-gray;
$secondary-dark-color: $baltic-sea;
$light-color: $white;


// Borders variables
$primary-dark-border: 1px solid $primary-dark-color;
$secondary-light-border: 1px solid $mercury;
$primary-border-x2: 2px solid $primary-color;
