@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap&subset=latin-ext');
@import "config";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.25;
    height: 100%;
    color: $secondary-color;
}

a {
    font-size: inherit;
    cursor: pointer;
    text-align: center;

    text-decoration: none;
    color: $primary-dark-color;

    &:hover {
        text-decoration: underline;
    }
}

button {
    font-weight: bold;
    display: block;
    padding: 12px 25px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: $primary-light-color;
    border: none;
    background-color: $primary-color;

    &:hover {
        background-color: $primary-dark-color;
    }
}

.tab-group {
    width: 100%;

    .tab-switch {
        display: flex;

        a {
            font-size: 16px;
            font-weight: bold;
            line-height: 1;
            flex-grow: 1;
            padding: 12px 5px;
            text-decoration: none;
            text-transform: capitalize;
            color: $secondary-color;
            background-color: $secondary-light-color;

            &:hover {
                background-color: $light-dark-color;
            }

            &.active {
                background-color: $light-color;
            }
        }
    }

    .tab-content {
        display: none;
        padding: 20px;

        &.active {
            display: block;
        }

    }
}

.category-group {
    $category-switch-width: 150px;

    display: flex;
    justify-content: space-between;

    .category-switch {
        display: flex;
        flex-direction: column;
        min-width: $category-switch-width;

        a {
            font-size: 14px;
            font-weight: bold;
            line-height: 1;
            width: 100%;
            margin-bottom: 2px;
            padding: 7px 5px;
            text-decoration: none;
            text-transform: uppercase;
            color: $secondary-color;
            background-color: $secondary-light-color;

            &:hover {
                background-color: $light-dark-color;
            }

            &.active {
                color: $light-color;
                background-color: $secondary-dark-color;
            }
        }
    }

    .category-card {
        display: none;
        width: 100%;
        margin-left: 10px;

        &.active {
            display: block;
        }

        .category-card-header {
            font-size: 30px;
            font-weight: bold;
            line-height: 1;
            width: 100%;
            height: 140px;
            padding: 95px 15px 15px 15px;
            text-align: left;
            text-transform: uppercase;
            color: $light-color;
            background: $category-header-bg 0 25% / 130% auto no-repeat;
        }

        .category-card-body {
            display: flex;
            flex-direction: column;
            min-width: 100%;
        }
    }
}

.card {
    display: flex;
    justify-content: space-between;
    height: 200px;
    padding: 20px 15px;

    .photo {
        position: relative;
        overflow: hidden;
        width: 50%;
        height: 100%;
        text-align: center;

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            height: 100%;
            transform: translateY(-50%) translateX(-50%);
        }
    }

    .description {
        font-size: inherit;
        width: 50%;
        padding: 0 15px;

        .card-header {
            font-weight: bold;
            color: $primary-dark-color;
        }

        .card-body {
            padding: 5px 0;
        }

        .card-footer {
            padding-top: 10px;
            color: $primary-color;
        }
    }


}

.form-group {

    .title {
        font-weight: bold;
    }

    label {
        display: block;
        width: max-content;
        padding-top: 5px;
        cursor: pointer;
    }
}

.warning-block {
    font-size: inherit;
    font-weight: bold;
    display: block;

    a {
        display: inline-block;
    }
}

.wrapper {
    $page-margin: 10%;

    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    background-color: $light-dark-color;

    header {
        flex: 0 0 auto;
        width: 100%;
        height: 150px;
        background: $primary-color;

        .header-content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            margin: 0 $page-margin;
            padding: 0 25px;

            nav {
                display: flex;

                a {
                    padding: 10px 20px;
                    text-decoration: none;
                    text-transform: uppercase;
                    color: $light-color;

                    &:hover {
                        background-color: $primary-dark-color;
                    }
                }
            }
        }
    }

    main {
        display: flex;
        flex: 1 0 auto;
        justify-content: space-between;
        margin: 0 10%;
        background: $light-color;

        .main-content {
            width: 70%;
            padding: 30px 25px;

            h2 {
                font-size: 22px;
                text-transform: uppercase;
            }

            table {
                font-size: 13px;
                min-width: 500px;
                margin-top: 20px;
                table-layout: fixed;
                text-align: left;

                th {
                    font-weight: normal;
                }
            }

            .warning-block {
                font-size: 14px;
                margin-top: 15px;
                padding: 10px 0;
                border-top: $primary-dark-border;
                border-bottom: $primary-dark-border;
            }

            .category-group {
                margin-top: 20px;

                .card {

                    .card-body {
                        font-size: 12px;
                        line-height: 1.4;
                    }

                    .card-footer {
                        display: flex;
                        justify-content: space-between;

                        @media screen and (max-width: 1024px) {
                            flex-direction: column-reverse;
                            justify-content: unset;
                        }
                    }
                }
            }
        }

        .sidebar {
            width: 30%;
            padding-bottom: 25px;
            border-left: $secondary-light-border;

            .tab-group {

                .warning-block {
                    padding: 10px;
                    text-align: center;
                }

                h2 {
                    text-transform: capitalize;
                }

                table {
                    width: 100%;
                    margin: 15px 0 30px;
                    table-layout: fixed;
                    border-collapse: collapse;
                    border-top: $primary-dark-border;

                    tr {
                        &:not(.bordered-row) > .left-item {
                            font-weight: bold;
                            text-transform: uppercase;
                            color: $primary-dark-color;
                        }

                        &.bordered-row > td {
                            border-bottom: $primary-dark-border;
                        }

                        td {
                            padding: 8px 0;

                            &.left-item {
                                width: 70%;

                                .title {
                                    text-transform: capitalize;
                                }
                            }

                            &.right-item {
                                font-weight: bold;
                                width: 30%;
                                text-align: right;
                                vertical-align: top;
                                color: $primary-dark-color;
                            }
                        }
                    }

                    .edit-buttons {
                        display: flex;
                        justify-content: start;
                        margin-top: 3px;

                        button {
                            font-size: 14px;
                            font-weight: bold;
                            line-height: 1;
                            margin-right: 2px;
                            padding: 2px 3px;
                            text-transform: lowercase;
                            color: $primary-dark-color;
                            border: $secondary-light-border;
                            background-color: $light-color;

                            &:hover {
                                background-color: $primary-light-color;
                            }
                        }
                    }

                }

                form {

                    .form-group {
                        padding-top: 15px;
                    }

                    button {
                        width: 100%;
                        margin-top: 30px;
                    }
                }
            }
        }
    }

    footer {
        position: relative;
        flex: 0 0 auto;
        width: 100%;
        height: 20px;
        background: $primary-dark-color;

        .footer-content {
            font-size: 11px;
            position: absolute;
            right: $page-margin;
            bottom: 25px;
            left: $page-margin;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 5px;

            address {
                font-style: normal;
                color: $primary-color;
            }

            nav {
                display: flex;

                a {
                    padding: 0 5px;
                    text-transform: capitalize;
                    border-right: $primary-dark-border;

                    &:last-child {
                        border-right: none;
                    }
                }
            }
        }
    }
}
