@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap&subset=latin-ext');
@import "config";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.25;
    height: 100%;
    color: $secondary-color;
}

a {
    font-size: inherit;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: $primary-dark-color;

    &:hover {
        text-decoration: underline;
    }
}

button {
    font-weight: bold;
    display: block;
    padding: 12px 25px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: $vista-white;
    border: none;
    background-color: $primary-color;

    &:hover {
        background-color: $primary-dark-color;
    }

    &.btn-bordered {
        padding: 10px 25px;
        color: $primary-color;
        border: $primary-border-2x;
        background-color: $vista-white;

        &:hover {
            color: $vista-white;
            background-color: $primary-color;
        }
    }
}

textarea {
    width: 100%;
    height: 90px;
    min-height: 50px;
    resize: vertical;
}

textarea,
input:not([type="checkbox"]):not([type="radio"]) {
    font-size: 14px;
    margin: 5px 0;
    padding: 6px 8px;
    border: 1px solid $dusty-gray;
}

table {
    font-size: 13px;
    margin-top: 20px;
    table-layout: fixed;
    text-align: left;

    th {
        font-weight: normal;
    }
}

address {
    font-style: normal;
    color: $primary-color;
}

.tab-group {
    width: 100%;

    .tab-switch {
        display: flex;

        a {
            font-size: 16px;
            font-weight: bold;
            line-height: 1;
            display: flex;
            align-items: center;
            flex-grow: 1;
            justify-content: center;
            padding: 12px 5px;
            text-decoration: none;
            text-transform: capitalize;
            color: $secondary-color;
            background-color: $mercury;

            &:hover {
                background-color: $desert-storm;
            }

            &.active {
                background-color: $light-color;
            }
        }
    }

    .tab-content {
        display: none;
        padding: 20px;

        &.active {
            display: block;
        }
    }
}

.category-group {
    $category-switch-width: 150px;

    display: flex;
    justify-content: space-between;

    .category-switch {
        display: flex;
        flex-direction: column;
        min-width: $category-switch-width;

        a {
            font-size: 14px;
            font-weight: bold;
            line-height: 1;
            width: 100%;
            margin-bottom: 2px;
            padding: 7px 5px;
            text-decoration: none;
            text-transform: uppercase;
            color: $secondary-color;
            background-color: $mercury;

            &:hover {
                background-color: $desert-storm;
            }

            &.active {
                color: $light-color;
                background-color: $secondary-dark-color;
            }
        }
    }

    .category-content {
        display: none;
        width: 100%;
        margin-left: 10px;

        &.active {
            display: block;
        }

        .category-header {
            font-size: 30px;
            font-weight: bold;
            line-height: 1;
            width: 100%;
            height: 140px;
            padding: 95px 15px 15px;
            text-align: left;
            text-transform: uppercase;
            color: $light-color;
            background: $category-header-bg 0 25% / 130% auto no-repeat;
        }

        .category-body {
            display: flex;
            flex-direction: column;
            min-width: 100%;
        }
    }
}

.card {
    display: flex;
    justify-content: space-between;
    height: 200px;
    padding: 15px 10px;

    .card-photo {
        position: relative;
        overflow: hidden;
        width: 50%;
        height: 100%;
        margin: 5px;

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            height: 100%;
            transform: translateY(-50%) translateX(-50%);
        }
    }

    .card-container {
        font-size: inherit;
        width: 50%;
        margin: 5px;

        .card-header {
            font-weight: bold;
            color: $primary-dark-color;
        }

        .card-body {
            padding: 5px 0;
        }

        .card-footer {
            padding-top: 10px;
            color: $primary-color;
        }
    }
}

.form-group {

    &.rtl {
        display: flex;
        justify-content: flex-end;

        label {
            display: flex;
            align-items: center;
            padding: 0 5px 0;
        }
    }

    .title {
        font-weight: bold;
    }

    small {
        padding: 3px 8px;
    }

    label {
        display: block;
        width: max-content;
        padding-top: 5px;
        cursor: pointer;
        text-transform: capitalize;
    }

    input[type="checkbox"],
    input[type="radio"] {
        width: 18px;
        height: 18px;
        vertical-align: text-bottom;
    }
}

.form-card {
    font-size: 18px;
    width: 100%;
    padding: 10px 15px;
    text-transform: capitalize;
    background-color: $desert-storm;

    .form-card-title {
        padding-bottom: 5px;
    }

    .form-card-board {
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 1fr 1fr;

        .tile {
            position: relative;

            input[type="checkbox"],
            input[type="radio"] {
                line-height: inherit;
                position: absolute;
                top: calc(50% - (20px / 2));
                left: 10px;
                width: 20px;
                height: 20px;
            }

            label {
                font-size: 14px;
                display: flex;
                align-items: center;
                width: 100%;
                height: 50px;
                padding: 0 10px 0 35px;
                cursor: pointer;
                color: $mine-shaft;
                background-color: $quill-gray;
            }

            input:checked ~ label {
                color: $vista-white;
                background-color: $primary-color;
            }
        }
    }
}

.two-column-list {

    .row {
        display: flex;
        justify-content: space-between;

        &.bordered {
            border-bottom: $primary-border;
        }
    }
}

.mini-card {

    .title {
        text-transform: capitalize;
    }

    .edit-buttons {
        display: flex;
        justify-content: flex-start;
        margin-top: 3px;

        button {
            font-size: 14px;
            font-weight: bold;
            line-height: 1;
            margin-right: 2px;
            padding: 2px 3px;
            text-transform: lowercase;
            color: $primary-dark-color;
            border: $light-border;
            background-color: $light-color;

            &:hover {
                background-color: $vista-white;
            }
        }
    }
}

.warning-block {
    font-size: inherit;
    font-weight: bold;
    display: block;

    a {
        display: inline-block;
    }
}

.overlay {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: none;
    overflow: auto;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba($dune, 85%);

    &.active {
        display: flex;
    }

    .modal {
        $modal-padding: 25px;

        position: relative;
        width: 40%;
        height: max-content;
        margin: 10px 0;
        background-color: $light-color;

        .close {
            position: absolute;
            top: 5px;
            right: 5px;
            width: 40px;
            height: 40px;
            padding: 0;
            background-color: transparent;

            &:before,
            &:after {
                position: absolute;
                top: 0;
                left: 19px;
                width: 3px;
                height: 40px;
                content: '';
                background-color: $light-color;
            }

            &:before {
                transform: rotate(45deg);
            }

            &:after {
                transform: rotate(-45deg);
            }

            &:hover:before,
            &:hover:after {
                background-color: $primary-color;
            }
        }

        .modal-header {
            font-weight: normal;
            padding: 10px $modal-padding;
            text-transform: capitalize;
            color: $light-color;
            background-color: $secondary-dark-color;
        }

        .modal-body {
            padding: 20px $modal-padding;
        }

        .modal-footer {
            padding: 15px $modal-padding $modal-padding;
        }
    }
}

.header-nav {
    display: flex;

    a {
        font-weight: bold;
        padding: 10px 20px;
        text-decoration: none;
        text-transform: uppercase;
        color: $light-color;

        &:hover {
            background-color: $primary-dark-color;
        }
    }
}

.footer-nav {
    display: flex;

    a {
        padding: 0 5px;
        text-transform: capitalize;
        border-right: $primary-border;

        &:last-child {
            border-right: none;
        }
    }
}

@mixin page-margins($margin) {
    .wrapper {
        header {
            .header-content {
                margin: 0 $margin;
            }
        }

        main {
            padding: 0 $margin;
        }

        footer {
            .footer-content {
                right: $margin;
                left: $margin;
            }
        }
    }
}

@include page-margins(10%);

@media screen and (max-width: 1024px) {
    @include page-margins(7%);
}

@media screen and (max-width: 768px) {
    @include page-margins(4%);
}

.wrapper {

    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    background-color: $desert-storm;

    header {
        flex: 0 0 auto;
        width: 100%;
        height: 150px;
        background: $primary-color;

        .header-content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            padding: 0 25px;
        }
    }

    main {
        display: flex;
        flex: 1 0 auto;
        justify-content: space-between;
        background-color: $desert-storm;

        .main-content {
            width: 100%;
            padding: 30px 25px;
            background: $light-color;
        }

        .sidebar {
            padding-bottom: 25px;
            border-left: $light-border;
            background: $light-color;
        }
    }

    footer {
        position: relative;
        flex: 0 0 auto;
        width: 100%;
        background: $primary-dark-color;

        &.big {
            height: 120px;

            .footer-content {
                bottom: 90px;
            }
        }

        &.small {
            height: 20px;

            .footer-content {
                bottom: 25px;
            }
        }

        .footer-content {
            font-size: 11px;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 5px;
        }
    }
}

.overlay {

    .big-modal {
        min-width: 750px;

        .modal-body {

            .card {
                height: auto;
                padding: 0;

                .card-container {
                    font-size: 18px;
                    padding: 0;

                    .card-header {
                        font-size: 22px;
                    }

                    .card-body {
                        padding: 15px 0;
                    }

                    .card-footer {
                        font-weight: bold;
                    }
                }
            }

            .form-card {
                margin: 15px 0;
            }

            .form-group.rtl {

                label {
                    font-size: 14px;
                }

                input {
                    width: 50px;
                }
            }
        }

        .modal-footer {
            display: flex;
            justify-content: flex-end;

            button {
                margin-left: 10px;
            }
        }
    }

    .small-modal {
        width: 30%;
        min-width: 550px;

        .modal-body {

            .card {
                justify-content: center;
                padding-top: 0;
                padding-bottom: 0;


                .card-photo {
                    width: 60%;
                }
            }

            .form-group {
                margin: 20px 0;

                .title {
                    font-size: 18px;
                }

                label {
                    font-size: 14px;
                    margin: 15px 0;
                }

                input {
                    margin: 0 10px;
                }

                .two-column-fgroup {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    input[type="number"] {
                        width: 50px;
                        padding: 3px 4px;
                        border-width: 2px;
                        border-radius: 5px;
                    }
                }
            }
        }

        .modal-footer {
            display: flex;
            justify-content: flex-end;

            button {
                margin-left: 10px;
            }
        }
    }
}
